{% if milestones %}
<div class="ref-card">
  <p class="ref-card__title">Timeline</p>
  <ol class="ref-timeline">
    {% for m in milestones %}
      <li class="ref-timeline__item ref-timeline__item--{{ m.state }}">
        <time class="ref-timeline__date">{{ m.day }}{% if m.time %} &middot; {{ m.time }}{% endif %}</time>
        <div class="ref-timeline__label">{{ m.label }}</div>
        {% if m.location %}
          <div class="ref-timeline__loc">{{ m.location }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
